:root{
  --text-color: #ffffff;
  --border-color: #B5B5B5;
  --font-color:#000000;
  --white-color: #ffffff;
  --neutrals-grey-color: #8F8F8F;
  --black-color: #000000;
  --background-black-color: #161616;
}
