@import "colors";
@import "mixin";

//global css
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  /* Responsive */
  --mobile-width: 375px; 
  --tablet-width: 768px; 
  --desktop-width: 1440px;

  /* font size */
  --fontSize-xs: var(--space-xs-px); // 10px
  --fontSize-sm: var(--space-sm-px); // 12px
  --fontSize-md: var(--space-md-px); // 14px 
  --fontSize-lg: var(--space-lg-px); // 16px
  --fontSize-xl: var(--space-xl-px); // 24px

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-bold: 600;
  --letter-spacing: 0.03em;

  /* px spacing values */
  --space-unit-px: 1px;
  --space-xxs-px: 8px;
  --space-xs-px: 10px;
  --space-2xs-px: 20px;
  --space-sm-px: 12px;
  --space-md-px: 14px;
  --space-lg-px: 16px;
  --space-2lg-px: 32px;
  --space-xl-px: 24px;
  --space-2xl-px: 48px;

  /* em spacing values */
  --space-unit: 1em; // 16px
  --space-xs: calc(0.5 * var(--space-unit)); // 8px
  --space-sm: calc(0.75 * var(--space-unit)); // 12px
  --space-md: calc(1.25 * var(--space-unit)); // 20px

  /* base components */
  --button-width: 139px;
}